<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <!-- <div><a href="https://www.positronx.io" target="_blank" class="positronx">PositronX.io</a></div> -->
  <!-- <button class="btn btn-light text-warning" routerLink="home" routerLinkActive="active">Home</button> -->
  <button class="btn btn-light text-warning" routerLink="video" routerLinkActive="active">Knowledge</button>
  <!-- <button class="btn btn-light text-warning" routerLink="market" routerLinkActive="active">Market Place</button> -->
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>