
<div *ngIf="inHome">
<div class="firstslide">
    <h2>
        Who are we?
    </h2>
    <div class="content">
We are a part of an NGO Jaljeevika. Our main focus is to provide relevant information to the farmers about FPO's. And also provide them with a Market Place where they can sell their products and get a fair amount of money against it.
We want you to ask your fellow-farmer friends to join us.
        </div>
</div>

<div class="firstslide">
    <h2>
        What we do?
    </h2>
    <div class="content">
We provide relevant information to the farmers about FPO's. And also provide them with a Market Place where they can sell their products and get a fair amount of money against it.
Also provide a query section where you can put your questions and get answers to your questions.
          </div>
</div>

<div class="firstslide">
    <h2>
        How can you be a part of this?
    </h2>
    <div class="content">
If you are a part of an FPO then you can register with us and sell your products through us. If you are a farmer then you can get all the information regarding FPO's and subsidies that you can get from government.
If you are a buyer then you can login with us and buy from the FPO's.
          </div>
</div>


</div>
