
<div class="row">
    <div class="col-xs-6">
        <a>Methods to Sell On Jaljeevika</a>
        
        <iframe width="640" height="360" src="https://www.youtube.com/embed/1IOaSyr2Kr4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
    </div>
    
</div>

<div class="row">
    <div class="col-xs-6">
        <a>Navigating through the website</a>
        <iframe width="640" height="360" src="https://www.youtube.com/embed/yiT26PLJg9E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  </div>
</div>